<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBook1,1</key>
	<string>macbook13</string>
	<key>MacBook2,1</key>
	<string>macbook13</string>
	<key>MacBook3,1</key>
	<string>macbook13</string>
	<key>MacBook4,1</key>
	<string>macbook13_2008</string>
	<key>MacBookPro1,1</key>
	<string>macbook_pro</string>
	<key>MacBookPro1,2</key>
	<string>macbook_pro</string>
	<key>MacBookPro2,1</key>
	<string>macbook_pro</string>
	<key>MacBookPro2,2</key>
	<string>macbook_pro</string>
	<key>MacBookPro3,1</key>
	<string>macbook_pro</string>
	<key>MacBookPro3,1</key>
	<string>macbook_pro2008</string>
	<key>MacBookAir1,1</key>
	<string>macbook_air</string>
</dict>
</plist>
